<!DOCTYPE html>
<html lang="ko">

<html>
    {% extends "base.html" %}
    {% block content %}
    <center><div>
        {% if front_answer == None %}
        <div id="message">
            <center><p>맛집 이름을 적어주세요.</p></center>
        </div><br>

        <form action="/calculate">
            <input name='input1' type="text" autofocus placeholder="맛집 검색" autocomplete list="datas" width="100px">
            <datalist id="datas">
                <option value = "블룸"></option>
                <option value = "쉬어가는 모퉁이커피한잔"></option>
                <option value = "손칼국수"></option>
                <option value = "김가네 중앙대점"></option>
                <option value = "중앙대학교 학생식당"></option>
                <option value = "청운음식점"></option>
                <option value = "카페숨"></option>
                <option value = "엄마손백반"></option>
                <option value = "피자헛 상도역점"></option>
                <option value = "교촌치킨 상도터널점"></option>
                <option value = "피쉬앤그릴 중앙대점"></option>
                <option value = "아재포차"></option>
                <option value = "중앙돼지마을"></option>
                <option value = "다같이놀자"></option>
                <option value = "하꼬멘 중대점"></option>
                <option value = "굿베이커리"></option>
                <option value = "광양불고기준서네"></option>
                <option value = "두레박본갈비"></option>
                <option value = "풍년집정육식당"></option>
                <option value = "카페 익스큐즈미"></option>
                <option value = "상도곱창"></option>
                <option value = "수미락"></option>
                <option value = "카페29.5"></option>
                <option value = "BHC치킨 중앙대점"></option>
                <option value = "구구팔팔"></option>
                <option value = "삼통치킨호프"></option>
                <option value = "종로떡집"></option>
                <option value = "영광족발"></option>
                <option value = "엉터리생고기 숭실대점"></option>
                <option value = "중대양곱창"></option>
                <option value = "봄스프링"></option>
                <option value = "커피하우스B"></option>
                <option value = "피쉬앤그릴 상도역점"></option>
                <option value = "제3공간"></option>
                <option value = "웨스트코스트"></option>
                <option value = "고기먹으러"></option>
                <option value = "비온후"></option>
                <option value = "피자스쿨 흑석명수대점"></option>
                <option value = "윤정즉석김밥"></option>
                <option value = "현주네김밥"></option>
                <option value = "이디야커피 상도역점"></option>
                <option value = "박서방네"></option>
                <option value = "코코스"></option>
                <option value = "숭실골고기마을"></option>
                <option value = "양평감자탕"></option>
                <option value = "연어이야기 광포차"></option>
                <option value = "JM호프바"></option>
                <option value = "닥터로빈 흑석점"></option>
                <option value = "고봉삼계탕 중앙대점"></option>
                <option value = "리네낙지"></option>
                <option value = "수목식당"></option>
                <option value = "전주콩나물해장국 상도역점"></option>
                <option value = "뚜레쥬르 상도래미안점"></option>
                <option value = "영스낵"></option>
                <option value = "명동치킨호프"></option>
                <option value = "후스시"></option>
                <option value = "스팅"></option>
                <option value = "탭하우스더슈라인"></option>
                <option value = "항아리김치찌개전문"></option>
                <option value = "명당분식"></option>
                <option value = "카페웅"></option>
                <option value = "현대깁밥도시락제조"></option>
                <option value = "흑석드럼통소금구이"></option>
                <option value = "카페필림 본점"></option>
                <option value = "원조마포참숯불갈비"></option>
                <option value = "상도실내포장마차"></option>
                <option value = "모코커피창고"></option>
                <option value = "빅컵"></option>
                <option value = "정통왕족발"></option>
                <option value = "일이삼식당"></option>
                <option value = "찌개대학부대과"></option>
                <option value = "중대촌 흑석점"></option>
                <option value = "장수"></option>
                <option value = "소문난 곱창볶음 닭갈비"></option>
                <option value = "파리바게뜨 중앙대점"></option>
                <option value = "삼목등심"></option>
                <option value = "장독대"></option>
                <option value = "왕돈까스왕냉면 숭실대점"></option>
                <option value = "고향삼계탕"></option>
                <option value = "오복떡방앗간"></option>
                <option value = "토마토호프"></option>
                <option value = "해달비 횟집"></option>
                <option value = "마루스시"></option>
                <option value = "맥주창고"></option>
                <option value = "치폴레옹"></option>
                <option value = "미스터꼼장어 미스쭈꾸미"></option>
                <option value = "또래오래 동작상도점"></option>
                <option value = "샤브일번가"></option>
                <option value = "잔치집막걸리"></option>
                <option value = "소문난 순대집"></option>
                <option value = "본가피탕김탕 상도점"></option>
                <option value = "맛있으면돼지"></option>
                <option value = "선김밥 상도본점"></option>
                <option value = "차돌이식당"></option>
                <option value = "처갓집양념치킨 상도점"></option>
                <option value = "파동추야"></option>
                <option value = "씨밤"></option>
                <option value = "페리카나 흑석동점"></option>
                <option value = "레드벌룬"></option>
                <option value = "디디치킨 숭실대점"></option>
                <option value = "커피나무 중앙대정문"></option>
                <option value = "태능솔밭갈비"></option>
                <option value = "스파이키하우스 흑석점"></option>
                <option value = "우뇽뚝배기스파게티"></option>
                <option value = "생선구이와찌개 상도점"></option>
                <option value = "큰솥설렁탕"></option>
                <option value = "다채 상도점"></option>
                <option value = "평안찹쌀순대"></option>
                <option value = "코웍비스트로 숭실대점"></option>
                <option value = "화르르"></option>
                <option value = "공차 중앙대점"></option>
                <option value = "코코호도 상도역점"></option>
                <option value = "해연"></option>
                <option value = "육쌈냉면 중앙대점"></option>
                <option value = "탐앤탐스 중앙대점"></option>
                <option value = "피자알볼로 노량진흑석점"></option>
                <option value = "커피홀릭"></option>
                <option value = "터방내"></option>
                <option value = "토모니베이커리"></option>
                <option value = "시골농장 우리보쌈&밥상"></option>
                <option value = "김밥천국 중앙대점"></option>
                <option value = "이삭토스트 서울중앙대점"></option>
                <option value = "홍콩반점0410 중앙대점"></option>
                <option value = "카페W"></option>
                <option value = "아람중화요리"></option>
                <option value = "가마로강정 숭실대역점"></option>
                <option value = "엉터리생고기 흑석점"></option>
                <option value = "2달러스&하루"></option>
                <option value = "죽이야기 중앙대병원점"></option>
                <option value = "가마로강정 중앙대점"></option>
                <option value = "고기사랑정육식당"></option>
                <option value = "니뽕내뽕 중앙대점"></option>
                <option value = "김밥천국"></option>
                <option value = "스타벅스 숭실대점"></option>
                <option value = "동해안수산"></option>
                <option value = "호랑이와곶감 신대방삼거리점"></option>
                <option value = "배스킨라빈스 중앙대점"></option>
                <option value = "바비큐보스 신용산점"></option>
                <option value = "바다양푼이동태탕 제천하소점"></option>
                <option value = "국수마당"></option>
                <option value = "김밥이야기김밥앤돈가스"></option>
                <option value = "장원아구찜감자탕"></option>
                <option value = "싱싱수산"></option>
                <option value = "황궁"></option>
                <option value = "속초항회속초물회"></option>
                <option value = "조안찐빵만두 상도점"></option>
                <option value = "타누키돈부리"></option>
                <option value = "맥도날드 중앙대점"></option>
                <option value = "오니기리와이규동 숭실대점"></option>
                <option value = "맘스터치 상도역점"></option>
                <option value = "맥도날드 숭실대점"></option>
                <option value = "702saloon"></option>
                <option value = "라이스&포테이토"></option>
                <option value = "풍년곱창 본점"></option>
                <option value = "아몬드블루"></option>
                <option value = "미니자이언트"></option>
                <option value = "퓨전탕수육"></option>
                <option value = "슈퍼피맥"></option>
                <option value = "사리원"></option>
                <option value = "맛있소면"></option>
                <option value = "중문닭갈비"></option>
                <option value = "호치킨 중앙대점"></option>
                <option value = "대박"></option>
                <option value = "자매호프포차"></option>
                <option value = "취향"></option>
                <option value = "바야흐로"></option>
                <option value = "커피온리 중앙대점"></option>
                <option value = "연어이야기"></option>
                <option value = "28청춘호프포차"></option>
                <option value = "우슬재"></option>
                <option value = "스타벅스 숭실대입구역"></option>
                <option value = "어부사시가"></option>
                <option value = "상도커피"></option>
                <option value = "신전떡볶이 숭실대점"></option>
                <option value = "수주면옥"></option>
                <option value = "커리야 중앙대점"></option>
                <option value = "발렌느"></option>
                <option value = "알렉스플레이스 상도점"></option>
                <option value = "유프"></option>
                <option value = "상도김밥"></option>
                <option value = "브레댄코 숭실대역점"></option>
                <option value = "큰맘할매순대국 숭실대점"></option>
                <option value = "커피아가씨s 꿈을피자"></option>
                <option value = "곱창고 서울중앙대점"></option>
                <option value = "포포인 중앙대점"></option>
                <option value = "갓프레소"></option>
                <option value = "프라이밋스테이크하우스"></option>
                <option value = "스타벅스 중앙대점"></option>
                <option value = "송베이커"></option>
                <option value = "배달삼겹돼지되지"></option>
                <option value = "신의주찹쌀순대 숭실대점"></option>
                <option value = "닭치고 상도점"></option>
                <option value = "카페디차"></option>
                <option value = "침사추이"></option>
                <option value = "내담대구탕찜해물갈비찜 숭실대역점"></option>
                <option value = "황토정숯불갈비"></option>
                <option value = "45년 의정부부대찌개 흑석본점"></option>
                <option value = "터널돼지갈비"></option>
                <option value = "밀짚모자"></option>
                <option value = "리앤홍"></option>
                <option value = "더코네"></option>
                <option value = "봉추찜닭 중앙대점"></option>
                <option value = "베이커즈원"></option>
                <option value = "내가찜한닭 숭실대점"></option>
                <option value = "내가찜한닭"></option>
                <option value = "전주해물콩나물국밥"></option>
                <option value = "준호네즉석떡볶이"></option>
                <option value = "투썸플레이스 숭실대점"></option>
                <option value = "쉼표 숭실대점"></option>
                <option value = "추억과김밥"></option>
                <option value = "천냥노가리"></option>
                <option value = "베브릿지 중앙대점"></option>
                <option value = "복돼지순대국"></option>
                <option value = "박가부대 흑석점"></option>
                <option value = "동키치킨 흑석점"></option>
                <option value = "정감"></option>
                <option value = "토프레소 상도점"></option>
                <option value = "한돈신"></option>
                <option value = "해랑초밥"></option>
                <option value = "피터패트"></option>
                <option value = "신전떡볶이 중앙대점"></option>
                <option value = "889"></option>
                <option value = "권가네 항아리된장족발"></option>
                <option value = "엉터리생고기 두번째이야기 중앙대점"></option>
                <option value = "출국"></option>
                <option value = "상도늘보리"></option>
                <option value = "굽네치킨 상도1호점"></option>
                <option value = "큰맘할매순대국 흑석동점"></option>
                <option value = "하브"></option>
                <option value = "모던비어433"></option>
                <option value = "노랑통닭 중앙대점"></option>
                <option value = "미스터피자 중앙대점"></option>
                <option value = "이모네떡볶이"></option>
                <option value = "홍수계찜닭 중앙대점"></option>
                <option value = "상도정마루"></option>
                <option value = "더진국 중앙대점"></option>
                <option value = "파리바게뜨 상도역점"></option>
                <option value = "용구비어 숭실대점"></option>
                <option value = "필수"></option>
                <option value = "토마토김밥노량진점"></option>
                <option value = "쿠시야끼하루 상도점"></option>
                <option value = "매머드익스프레스 중앙대점"></option>
                <option value = "스시원"></option>
                <option value = "우리동네치킨"></option>
                <option value = "더마니치킨"></option>
                <option value = "호식이두마리치킨 흑석중앙대점"></option>
                <option value = "더피자"></option>
                <option value = "놀부부대찌개 중대점"></option>
                <option value = "바보스 숭실대점"></option>
                <option value = "라붐카페"></option>
                <option value = "바라던바"></option>
                <option value = "라쿠미스시"></option>
                <option value = "멘동 숭실대점"></option>
                <option value = "원할머니보쌈족발 흑석점"></option>
                <option value = "가마솥족발가족"></option>
                <option value = "더카페 중앙대EX점"></option>
                <option value = "응급실국물떡볶이 서울숭실대점"></option>
                <option value = "청년다방 서울숭실대점"></option>
                <option value = "고씨네 중앙대점"></option>
                <option value = "스시톡톡"></option>
                <option value = "육반연반"></option>
                <option value = "홍당무"></option>
                <option value = "왕돈까스&왕냉면 상도역점"></option>
                <option value = "다락"></option>
                <option value = "본죽&비빔밥cafe 중앙대점"></option>
                <option value = "BBQ 숭실대점"></option>
                <option value = "BHC치킨 숭실대점"></option>
                <option value = "바로곁에"></option>
                <option value = "가춘"></option>
                <option value = "유유초밥"></option>
                <option value = "설빙 중앙대점"></option>
                <option value = "피맥하우스 상도동점"></option>
                <option value = "생활맥주 상도역점"></option>
                <option value = "배달삼겹직구삼 상도직영점"></option>
                <option value = "부어치킨 상도동점"></option>
                <option value = "커피나무 랩"></option>
                <option value = "알로하치킨"></option>
                <option value = "1994안나"></option>
                <option value = "부어치킨 흑석역점"></option>
                <option value = "아바디"></option>
                <option value = "노가리빠 본점"></option>
                <option value = "맛구이촌"></option>
                <option value = "순수치킨 상도점"></option>
                <option value = "나귀와플라타너스"></option>
                <option value = "자갈치회집"></option>
                <option value = "한솥도시락 숭실대중문점"></option>
                <option value = "러윗츠"></option>
                <option value = "리버풀펍"></option>
                <option value = "스타동 상도점"></option>
                <option value = "커피나무 중앙대후문"></option>
                <option value = "재팔이네닭발"></option>
                <option value = "착한피자 상도점"></option>
                <option value = "상구다방"></option>
                <option value = "커피더캠프 흑석역점"></option>
                <option value = "마카롱스퀘어"></option>
                <option value = "라화쿵부 중앙대점"></option>
                <option value = "맥피스"></option>
                <option value = "로드쉐프라이"></option>
                <option value = "브라운필"></option>
                <option value = "컵오브컴포트"></option>
                <option value = "너의화로"></option>
                <option value = "쉐프의목장 상도점"></option>
                <option value = "푸라닭상도1동점"></option>
                <option value = "준호네돈가스"></option>
                <option value = "뚜스뚜스 흑석역점"></option>
                <option value = "호이차 숭실대점"></option>
                <option value = "상도국수"></option>
                <option value = "명동국수"></option>
                <option value = "매머드커피 상도역점"></option>
                <option value = "호랑이술상"></option>
                <option value = "노가리아라"></option>
                <option value = "커피베이 흑석아크로리버하임점"></option>
                <option value = "골목안"></option>
                <option value = "앳더블랑"></option>
            </datalist>

            <input type="submit" value="검색">
        </form>

    {% else %}
        <h1>추천 맛집은!!!</h1>
            {{ front_answer }}
        <form action="/">
            <input type="submit" value='홈으로 돌아가기'>
        </form>

    {% endif %}
    {% endblock %}
    </div></center>
</html> 